.videoheader{
    height: 5.5vh;
    width: 100vw;
    background-color: #0000008c;
}

.mainpage{

 

    left: 20vw;
}

.container{
    padding-top: 4vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

.image{
    padding-left: 40vw;
}